<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link href="../index.css" rel="stylesheet"   -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="../index.css" rel="stylesheet">
  <style>

.sidenav {
  width: 160px;
  position: fixed;
  z-index: 1;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>

<body>
  <script>
    document.getElementById("demo").innerHTML =
    "Page path is: " + window.location.pathname;
    </script>
  <!-- 
    <header class="page-header" role="banner">
      <div class="banner">
        <div class="banner-content">
            <div class="banner-icon">
                <img src="../DevBanner_icon.png" />
            </div>
            <div class="banner-text">
                <h1>BCG Developer Documentation</h1>
                <p>Browse the latest developer documentation including 
                     API reference, articles, and sample code...</p> 
                
            </div>
            <div class="banner-btn"><a href="../index.html">Home</a></div>
        </div>
    </div>
    
    </header> -->
  <div class="banner">
    <div class="banner-content">
      <div class="banner-icon">
        <img src="../DevBanner_icon.png" />
      </div>
      <div class="banner-text">
        <h1>BCG Developer Documentation</h1>
        <p>Browse the latest developer documentation including
          API reference, articles, and sample code.</p>
      </div>
      <div class="banner-btn"><a href="../index.html">Home</a></div>

    </div>
  </div>
  <div class="sidenav">
  <a href="https://devaraj-s.github.io/dev-graphql-doc/index.html">Home</a>
  <a href="#PeopleAPI">Description</a>
  <a href="#CodeSamples">Code Samples</a>
  <a href="#PeopleAPIProfileQuery_Realtimecustomreport">Performance</a>
</div>

  <main id="content" class="main-content" role="main">
    {{ content }}



  </main>
</body>

</html>
