<!DOCTYPE html>
<html lang="en">

<head>
  <!--
    {% if site.google_analytics %}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', '{{ site.google_analytics }}');
      </script>
    {% endif %}
    <meta charset="UTF-8">

{% seo %}
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="theme-color" content="#157878">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
        <link href="../index.css" rel="stylesheet"   -->

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <link href="../index.css" rel="stylesheet">
  <style>

.sidenav {
  width: 183px;
  position: fixed;
  z-index: 1;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 13px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}
</style>
</head>

<body onload="myFunction()">
  <!-- 
    <header class="page-header" role="banner">
      <div class="banner">
        <div class="banner-content">
            <div class="banner-icon">
                <img src="../DevBanner_icon.png" />
            </div>
            <div class="banner-text">
                <h1>BCG Developer Documentation</h1>
                <p>Browse the latest developer documentation including 
                     API reference, articles, and sample code...</p> 
                
            </div>
            <div class="banner-btn"><a href="../index.html">Home</a></div>
        </div>
    </div>
    
    </header> -->
  <div class="banner">
    <div class="banner-content">
      <div class="banner-icon">
        <img src="../DevBanner_icon.png" />
      </div>
      <div class="banner-text">
        <h1>BCG Developer Documentation</h1>
        <p>Browse the latest developer documentation including
          API reference, articles, and sample code.</p>
      </div>
      <div class="banner-btn"><a href="../index.html">Home</a></div>

    </div>
  </div>

  <script>
    //document.getElementById("dynamicLink").innerHTML = window.location.href;
  
     var x = window.location.href;
     alert(x); 
     function myFunction() {
      alert("inside fun : " + x);
     if (x.contains("eventsapi")) {
       alert(1);
      document.getElementById("descriptionLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/eventsapi/query.html";
      document.getElementById("codeLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/eventsapi/code.html";
      document.getElementById("dashboardLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/eventsapi/performance.html";
    } else if (x.contains("locationapi")) {
      alert(2);
      document.getElementById("descriptionLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/locationapi/query.html";
      document.getElementById("codeLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/locationapi/code.html";
      document.getElementById("dashboardLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/locationapi/performance.html";
    } else if (x.contains("peopleexapi")) {
      alert(3);
      document.getElementById("descriptionLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/peopleexapi/query.html";
      document.getElementById("codeLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/peopleexapi/code.html";
      document.getElementById("dashboardLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/peopleexapi/performance.html";
    } else {
      alert(4);
      document.getElementById("descriptionLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/peopleapi/query.html";
      document.getElementById("codeLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/peopleapi/code.html";
      document.getElementById("dashboardLink").innerHTML = "http://https://devaraj-s.github.io/dev-graphql-doc/peopleapi/performance.html";
    }
  }
    
    //document.getElementById("dynamicLink").href.replace("userName", "test1");
    </script>
  
  <div class="sidenav">
  <a href="https://devaraj-s.github.io/dev-graphql-doc/index.html">Home</a>
  <a id="descriptionLink" href="{{descriptionLink}}">Description</a>
  <a id="codeLink" href="{{codeLink}}">Code</a>
  <a id="dashboardLink" href="{{dashboardLink}}">Performance</a>
</div>

  <main id="content" class="main-content" role="main">
    {{ content }}



  </main>
</body>

</html>
